.create-task {
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #1f2937;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: #4b5563;
  }
  
  .input-field {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
  }
  
  .input-field option {
    padding: 10px;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
  }
  
  .checkbox-group label {
    margin-right: 10px;
  }
  
  .create-btn {
    width: 80px;
    height: 50px;
    background-color: #60a5fa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
  }
  
  .create-btn:hover {
    background-color: #3b82f6;
  }

  .check-field {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  